@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'circular-std';
  src:
    url(../lib/fonts/circularStd/CircularStd-Black.woff2) format('woff2') font-weight-black,
    url(../lib/fonts/circularStd/CircularStd-BlackItalic.woff2) format('woff2') font-weight-black
      font-style-italic,
    url(../lib/fonts/circularStd/CircularStd-Bold.woff2) format('woff2') font-weight-bold,
    url(../lib/fonts/circularStd/CircularStd-BoldItalic.woff2) format('woff2') font-weight-bold
      font-style-italic,
    url(../lib/fonts/circularStd/CircularStd-Book.woff2) format('woff2') font-weight-normal,
    url(../lib/fonts/circularStd/CircularStd-BookItalic.woff2) format('woff2') font-weight-normal
      font-style-italic,
    url(../lib/fonts/circularStd/CircularStd-Medium.woff2) format('woff2') font-weight-medium,
    url(../lib/fonts/circularStd/CircularStd-MediumItalic.woff2) format('woff2') font-weight-medium
      font-style-italic,
    url(../lib/fonts/circularStd/CircularStd-Light.woff2) format('woff2') font-weight-light,
    url(../lib/fonts/circularStd/CircularStd-LightItalic.woff2) format('woff2') font-weight-light
      font-style-italic;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 216 100% 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 48 96% 89%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --main-50: 197 100% 89%;
    --main-100: 202 100% 86%;
    --main-200: 206 100% 83%;
    --main-300: 208 100% 80%;
    --main-400: 210 100% 77%;
    --main-500: 211 100% 74%;
    --main-600: 212 100% 71%;
    --main-700: 213 100% 68%;
    --main-800: 214 100% 65%;
    --main-900: 215 100% 59%;
    --main-950: 216 100% 56%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}


::-webkit-scrollbar-track {
  background: #88888800;
  border-radius: 5px;
}
